name: Push
on:
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'     
        required: true
  push:
    branches:
      - main
    paths-ignore:
      - .gitignore
      - .github/**
      - .pre-commit-config.yaml
      - README.md
      - requirements.txt
      - requirements.bash
      - poetry.lock

jobs:
  code-quality:
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.8, 3.9, "3.10"]
        poetry-version: [1.2.2]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Run image
        uses: abatilo/actions-poetry@v2.0.0
        with:
          poetry-version: ${{ matrix.poetry-version }}
      - name: Install dependencies
        run: poetry install
      - name: Run black
        run: poetry run black timeless tests --check
      - name: Run isort
        run: poetry run isort timeless tests --check-only
      - name: Run flake8
        run: poetry run flake8 timeless
      - name: Run Pydocstyle
        run: poetry run pydocstyle timeless
      - name: Run Mypy
        run: poetry run mypy timeless
      - name: Run Pytest
        run: poetry run pytest --cov=timeless tests/
  update_docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.x
      - run: pip install mkdocs-material 
      - run: mkdocs gh-deploy --force
